#navbar{
    display: flex;
}

#navbar a{
    text-decoration: none;
    display: inline-block;
    background-color: #7f4cc1;
    text-align: center;
    padding: 10px;
    color: #fff;
    border-bottom: 3px solid #5e0481;
    border-radius: 2px;
    margin-right: 5px;
}